@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;

/*
Custom class
*/
.h-auto-important {
    height: auto !important;
}

.ck-editor__editable_inline {
    min-height: 200px;
}

[x-cloak] {
    display: none;
}
